@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0%;
  background-color: #afd9ed;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageOne {
  background-color: blue;
}

.pageTwo {
  border-radius: 30px;
  border: 8px solid darkblue;
  padding: 10px;
  width: 100%;
  height: 500px;
}

.pageThree {
  border-radius: 30px;
  border: 8px solid darkblue;
  padding: 10px;
  width: 100%;
  height: 130px;
}
.brand {
  background-color: white;
  display: flex;
  background-image: url("./images/searchicon.png");
  background-repeat: no-repeat;
  background-size: 3%;
  background-position: 5% 5%;
  width: 100%;
  background-position: right;
  background-color: lightblue;
  width: 100%;
  height: 30%;
  background-color: lightblue;
  animation-name: example;
}

@keyframes example {
  from {
    background-color: lightblue;
  }
  to {
    background-color: #19659c;
  }
}

.checkIn {
  border: none;
  border-radius: 8px;
  padding: 8px;
  background-color: #e8e8e8;
  box-shadow: 6px 6px 12px #ffffff, -5px -3px 8px #c5c5c5;
  font-size: medium;
  font-weight: bold;
  max-width: 100px;
}

.input:focus {
  outline-color: white;
}

/* border: none;
  border-radius: 2px;
  padding: 2px;
  background-color: #e8e8e8;
  box-shadow: 6px 6px 12px #ffffff, -5px -3px 8px #c5c5c5;
  font-size: medium;
  font-weight: bold;
  max-width: 150px; */
.input[type="text"]:focus {
  background-color: lightblue;
}

.input:focus {
  outline-color: white;
  place-content: "Enter your message!";
}

.time {
  color: rgb(93, 67, 35);
  font-size: 10px;
}
.To {
  color: burlywood;
  font-family: "Tangerine", serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

.travel {
  font-family: "Trirong", serif;
}
.button1:hover {
  background-color: antiquewhite;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  transform: translateY(4px);
}
.All {
  text-decoration: solid;
  color: darkcyan;
  font-family: "Trirong", serif;
  font-size: 20px;
  font-weight: 600;
  background-image: linear-gradient(to left, #385dd6, #0c1e57);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  gap: 5rem;
  background-color: grey;
}

.main {
  position: relative;
  margin-top: 2rem;
  width: 100%;
  height: 100%;
}
.WishList {
  font-size: 20px;
  margin-top: 4rem;
  font-style: italic;
  text-align: right;
}

.img2 {
  width: 100%;
  height: 400px;
  filter: brightness(30%);
}

.moveup {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 20%;
  z-index: 3;
  text-align: center;
  color: bisque;
}

.nav-menu.active {
  position: absolute;
  transition: 0.3s;
  z-index: -1;
}

/* under pageOne */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container1 {
  padding: 2px 16px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.gif {
  position: center;
}

.Country {
  color: darkblue;
}
.wishList:hover {
  padding: 5px 30px;
  background: #c5c5c5;
  color: white;
  border: 1px solid #c5c5c5;
  cursor: pointer;
  transition: 0.5s;
  font-size: 18px;
}

.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 60;
  font-size: 15px;
  padding: 0 10px;
  line-height: 12px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.tempName {
  text-decoration: double;
  font-size: 30px;
  color: #422800;
}
